@{
    ViewBag.Title = "Things to Do";
}

<h1>Things to Do</h1>

<p>@ViewBag.Subhead</p>

<form method="post">
    <div class="form-group">
        <label for="ThingsToDo">Things to Do</label>
        <textarea class="form-control" id="ThingsToDo" name="thingsToDo"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Finish</button>
</form>
